n8n-workflows/password-reset-email.json
{
  "name": "Password Reset Email",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "parameters": {
        "path": "auth/password-reset",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseCode": 202,
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Password Reset Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "webhookId": "password-reset-email-webhook",
      "notes": "Triggered by backend when user requests password reset. Expected payload: { email, token, expires_at, reset_url }"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\n\n// Validate required fields\nif (!item.email) {\n  throw new Error('Missing required field: email');\n}\n\nif (!item.token) {\n  throw new Error('Missing required field: token');\n}\n\nif (!item.reset_url) {\n  throw new Error('Missing required field: reset_url');\n}\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(item.email)) {\n  throw new Error('Invalid email format');\n}\n\nreturn items;"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 380],
      "notes": "Validates webhook payload has required fields"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\n\n// Build password reset email HTML\nconst resetUrl = item.reset_url;\nconst expiresAt = item.expires_at ? new Date(item.expires_at).toLocaleString() : 'in 1 hour';\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Reset Your Password</title>\n  <style>\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      margin: 0;\n      padding: 0;\n      background-color: #f5f5f5;\n    }\n    .container {\n      max-width: 600px;\n      margin: 0 auto;\n      background-color: #ffffff;\n    }\n    .header {\n      background: linear-gradient(135deg, #18181b 0%, #27272a 100%);\n      padding: 40px 20px;\n      text-align: center;\n    }\n    .header img {\n      max-width: 180px;\n      height: auto;\n    }\n    .header h1 {\n      color: #ffffff;\n      margin: 20px 0 0 0;\n      font-size: 24px;\n      font-weight: 600;\n    }\n    .content {\n      padding: 40px 30px;\n    }\n    .content h2 {\n      color: #18181b;\n      margin: 0 0 20px 0;\n      font-size: 22px;\n    }\n    .content p {\n      color: #52525b;\n      margin: 0 0 20px 0;\n      font-size: 16px;\n    }\n    .button-container {\n      text-align: center;\n      margin: 30px 0;\n    }\n    .reset-button {\n      display: inline-block;\n      padding: 16px 40px;\n      background: linear-gradient(135deg, #f97316 0%, #f59e0b 100%);\n      color: #ffffff !important;\n      text-decoration: none;\n      border-radius: 8px;\n      font-weight: 600;\n      font-size: 16px;\n    }\n    .reset-button:hover {\n      opacity: 0.9;\n    }\n    .warning {\n      background-color: #fef3c7;\n      border: 1px solid #f59e0b;\n      border-radius: 8px;\n      padding: 15px 20px;\n      margin: 20px 0;\n    }\n    .warning p {\n      color: #92400e;\n      margin: 0;\n      font-size: 14px;\n    }\n    .footer {\n      background-color: #f5f5f5;\n      padding: 30px;\n      text-align: center;\n      font-size: 12px;\n      color: #71717a;\n    }\n    .footer a {\n      color: #f97316;\n      text-decoration: none;\n    }\n    .link-fallback {\n      margin-top: 20px;\n      padding: 15px;\n      background-color: #f5f5f5;\n      border-radius: 6px;\n      word-break: break-all;\n    }\n    .link-fallback p {\n      font-size: 12px;\n      color: #71717a;\n      margin: 0 0 5px 0;\n    }\n    .link-fallback code {\n      font-size: 11px;\n      color: #52525b;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <img src=\"https://www.armor.com/wp-content/uploads/2023/03/armor-logo-white.svg\" alt=\"Armor\">\n      <h1>Password Reset Request</h1>\n    </div>\n    <div class=\"content\">\n      <h2>Reset Your Password</h2>\n      <p>We received a request to reset the password for your Armor Cyber News account associated with this email address.</p>\n      <p>Click the button below to reset your password:</p>\n      \n      <div class=\"button-container\">\n        <a href=\"${resetUrl}\" class=\"reset-button\">Reset Password</a>\n      </div>\n      \n      <div class=\"warning\">\n        <p><strong>This link expires ${expiresAt}.</strong> If you didn't request this password reset, you can safely ignore this email.</p>\n      </div>\n      \n      <div class=\"link-fallback\">\n        <p>If the button doesn't work, copy and paste this link into your browser:</p>\n        <code>${resetUrl}</code>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p>This is an automated message from Armor Cyber News.</p>\n      <p>If you didn't request a password reset, please contact our support team.</p>\n      <p style=\"margin-top: 15px;\">\n        <a href=\"https://www.armor.com\">armor.com</a> | \n        <a href=\"mailto:support@armor.com\">support@armor.com</a>\n      </p>\n      <p style=\"margin-top: 20px; font-size: 11px; color: #a1a1aa;\">\n        &copy; ${new Date().getFullYear()} Armor Defense Inc. All rights reserved.\n      </p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    to_email: item.email,\n    subject: 'Reset Your Password - Armor Cyber News',\n    html_content: html,\n    from_name: 'Armor Cyber News',\n    from_email: 'noreply@armor.com',\n    reply_to: 'support@armor.com'\n  }\n}];"
      },
      "id": "build-email-html",
      "name": "Build Password Reset Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 380],
      "notes": "Builds the password reset email HTML with Armor branding"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.from_email }}",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html_content }}",
        "options": {
          "replyTo": "={{ $json.reply_to }}"
        }
      },
      "id": "send-email",
      "name": "Send Email via SMTP",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [840, 380],
      "credentials": {
        "smtp": {
          "id": "smtp-armor",
          "name": "SMTP - Armor"
        }
      },
      "notes": "Sends password reset email via SMTP"
    },
    {
      "parameters": {
        "jsCode": "// Return success response\nreturn [{\n  json: {\n    success: true,\n    message: 'Password reset email sent successfully',\n    email: $node['Validate Input'].json.email,\n    sent_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 380],
      "notes": "Returns success response after email is sent"
    }
  ],
  "connections": {
    "Password Reset Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Build Password Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Password Reset Email": {
      "main": [
        [
          {
            "node": "Send Email via SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via SMTP": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": [
    {
      "id": "auth",
      "name": "Authentication"
    }
  ]
}
